* {
    margin: 0;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 12pt;
}

#header {
    font-size: 20pt;
}

body {
    padding: 10%;
    line-height: 1.2;
    word-spacing: 1px;
}

img, #addbtn {
    display: none;
}

.issueact {
    display: none;
}