body {
    margin: 3% 2%;
}

p {
    max-width: 800px;
}

table {
    border-collapse: collapse;
    width:100%;
}

th, td {
    border: 1px solid #bbb;
    padding: 6px;
}

tr:nth-child(even) {
    background: #ddf4ff;
}

tr:hover {
    background: #bfebff;
}

th {
    background: #7ad5ff;
}

img {
    max-width: 100%;
    height: auto;
}

img.icon {
    height: 15px;
    width: 15px;
}

a.button-block {
    display: inline-block;
}

@media screen and (max-width: 700px) {
    .issueid {
        display: none;
    }
    .issuedesc {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .issueid {
        display: none;
    }
    .issuedesc {
        display: none;
    }
    .issuetype {
        display: none;
    }
}