*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Muli', sans-serif;
    line-height: 1.5;
}

button {
    font-size: 80%;
    border: 2px solid #00a7f5;
    border-radius: 3px;
    padding: 4px 8px;
    background: #c6edff;
    cursor: pointer;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#home_login,
#home_signup,
#home_issue,
#home_logout {
    display: none;
}

header {
    background: black;
    color: white;
    min-height: 70px;
}

header #header{
    float:left;
    padding: 15px;
}

header p{
    float: right;
}

nav ul{
    float: right;
    padding: 20px 15px 15px 15px;
}

nav li{
    display: inline;
    padding: 5px 15px;
    background: black;
    color:white;
}

nav a:hover{
    background: red;
}

.issue_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

hr{
    margin: 10px 0;
}

legend {
    padding: 0 10px;
}

input {
    line-height: 1.5;
}

nav a{
    color: white;
}

nav a:visited{
    color: white;
}

button[type="submit"]{
    margin: 5px;
}

button:hover {
    background: #7ad5ff;
}

.row {
    padding: 7px;
}

.col1 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col2 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

table {
    border-collapse: collapse;
}

.issueact {
    width: 95px;
}

th, td {
    border: 1px solid #bbb;
    padding: 6px;
}

tr:nth-child(even) {
    background: #ddf4ff;
}

tr:hover {
    background: #bfebff;
}

th {
    background: #7ad5ff;
}

img {
    max-width: 100%;
    height: auto;
}

img.icon {
    height: 15px;
    width: 15px;
}

button-block {
    border: 2px solid #00a7f5;
    display: inline-block;
}

@media screen and (max-width: 700px) {
    .issueid {
        display: none;
    }
    .issuedesc {
        display: none;
    }
    .col1, .col2, textarea {
        width: 100%;
        margin-top: 3px;
    }
}

@media screen and (max-width: 450px) {
    .issueid {
        display: none;
    }
    .issuedesc {
        display: none;
    }
    .issuetype {
        display: none;
    }
}